html, body {
	height: 100%;
}

.sm-logo {
	height: 20px;
}

// login pay navbar annoyance fix
.navbar {
	margin-bottom: 0px;
}

.app-wrapper {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

// Cover styles
@import 'login';

@import 'project-list';

.pin-img-container {
	position: relative;
}

.pin-img {
	width: 500px;
	position: absolute;
}

.pin-icon {
	height: 20px;
	position: absolute;
}