.user-form {
	margin: 0 auto;
	max-width: 300px;
	text-align: center;
}

.project-thumb {
	max-height: 50px;
}

.pin-img-container {
	position: relative;
}

.pin-img {
	width: 500px;
	position: absolute;
}

.pin-icon {
	height: 20px;
	position: absolute;
}